::-webkit-scrollbar {
display: none;
}

div.scrollmenu1 {
width: 150px;
  background-color: transparent;
  overflow: hidden;
  white-space: nowrap;

   
}

fonx {
   font-style: normal;
  font-family: Arial, Helvetica, sans-serif;
  
}

div.scrollmenu1 a {
  display: inline-block;
  color: grey;
  text-align: center;
  padding: 10px;
  text-decoration: none;

}

div.scrollmenu1 a:hover {
  background-color: #777;

}
